@use "@angular/material" as mat;
@use "sass:map";

@mixin theme($theme) {
  $p: map.get($theme, primary); // primary palette
  $a: map.get($theme, accent); // secondary palette
  $w: map.get($theme, warn); // warn palette
  $b: map.get($theme, background); // background palette
  $f: map.get($theme, foreground); // foreground palette
  $primary: mat.get-color-from-palette($p); // default primary color
  $primary-darker: map.get($p, darker);
  $primary-lighter: map.get($p, lighter);
  $accent: mat.get-color-from-palette($a); // default accent color
  $accent-lighter: mat.get-color-from-palette($a, lighter); // default accent color
  $warn: mat.get-color-from-palette($w); // default warn color
  $background: mat.get-color-from-palette($b); // default background color
  $background-card: mat.get-color-from-palette($b, card); // background palette with card hue
  $foreground: mat.get-color-from-palette($f, text); // foreground palette with text hue
  $primary-contrast: mat.get-color-from-palette($p, default-contrast);
  $accent-contrast: mat.get-color-from-palette($a, default-contrast);
  $warn-contrast: mat.get-color-from-palette($w, default-contrast);

  .color.primary {
    color: $primary;
  }

  .color.accent {
    color: $accent;
  }

  .color.warn {
    color: $warn;
  }

  .background.primary {
    background-color: $primary;
    color: $primary-contrast;
  }

  .background.accent {
    background-color: $accent;
    color: $accent-contrast;
  }

  .background.warn {
    background-color: $warn;
    color: $warn-contrast;
  }

  .background.card {
    background-color: $background-card;
  }

  .background.stacked {
    background-color: $background;
  }

  a.link:visited {
    color: $accent;
  }

  a.link {
    color: $primary;
  }

  a {
    color: $accent;
    text-decoration: none;
  }

  .span-button {
    font-weight: bold;
    text-decoration: none;
    color: $accent;
    cursor: pointer;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  /* scroll bar */
  ::-webkit-scrollbar {
    width: 15px;
    z-index: 2000;
  }

  ::-webkit-scrollbar-track {
    background: $primary;
    z-index: 2001;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary-lighter;
    z-index: 2001;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primary-lighter;
    z-index: 2001;
  }

  /* input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Angular material components */

  /* side nav */
  mat-sidenav-content {
    background-color: $primary-darker;
  }

  /* card */
  mat-card.mat-card,
  mat-expansion-panel-header {
    background-color: $primary;
  }

  /* expansion panel */
  mat-expansion-panel.mat-expansion-panel {
    background-color: $primary;
  }

  div.mat-menu-panel {
    background-color: $primary;
  }

  /* form field */
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $accent;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $accent;
  }

  .mat-form-field .mat-input-element {
    caret-color: $primary-contrast;
  }

  .mat-form-field .mat-form-field-label {
    color: $primary-contrast;
  }

  /* dialog */
  .mat-dialog-content {
    overflow: initial;
  }

  .mat-dialog-container {
    background-color: $primary;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    padding: 0;
  }

  .mat-dialog-actions {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }

  .mat-dialog-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1 1 auto;
    margin: 0;
    max-height: initial;
  }

  /* checkbox */
  .mat-checkbox-checked .mat-checkbox-frame {
    border-color: $primary;
  }

  .mat-checkbox-checkmark-path {
    stroke: $accent-contrast !important;
  }

  /* dropdowns */
  .mat-select-panel {
    background-color: $primary;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $foreground;
  }
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    @if ($primary-contrast) {
      background-color: rgba($primary-contrast, 0.04);
    }
  }

  /* auto suggestions */
  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background-color: $primary;
  }
  .mat-autocomplete-panel {
    background: $primary;
  }

  /* calendar */
  .mat-calendar {
    background-color: $primary;
  }

  .mat-datepicker-toggle-active .mat-datepicker-toggle-default-icon {
    color: $accent;
  }
  .mat-calendar-body-selected {
    background-color: $accent;
  }
  @media (hover: hover) {
    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
      > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
      @if ($accent-lighter) {
        background-color: rgba($accent-lighter, 0.1);
      }
    }
  }

  /* snackbar */
  .mat-snack-bar-container {
    background-color: $primary;
    color: $primary-contrast;
  }

  /* paginator */
  .mat-paginator {
    background: $primary;
  }

  /* table */
  .mat-table {
    background: $primary;
  }

  /* tooltip */
  .mat-tooltip {
      background-color: $primary-lighter;
      color: $primary-contrast;
  }

  /* icon button */
  .mat-icon-button {
    background-color: transparent;
  }
}
