@use "@angular/material" as mat;

// Good site for these: http://mcg.mbitson.com/
$dark-gold: mat.define-palette((
    50 : #edebe6,
    100 : #d3cec0,
    200 : #b5ad96,
    300 : #978c6b,
    400 : #81744c,
    500 : #6b5b2c,
    600 : #635327,
    700 : #584921,
    800 : #4e401b,
    900 : #3c2f10,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
), 700, 100, 800);

$dark-purple: mat.define-palette((
    50 : #e5e4e5,
    100 : #bebcbf,
    200 : #928f94,
    300 : #666269,
    400 : #464149,
    500 : #251f29,
    600 : #211b24,
    700 : #1b171f,
    800 : #161219,
    900 : #0d0a0f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
), 500, 300, 700);

$purple-black: mat.define-palette((
    50 : #e4e4e4,
    100 : #bcbbbc,
    200 : #8f8e90,
    300 : #626063,
    400 : #403e41,
    500 : #1e1c20,
    600 : #1a191c,
    700 : #161418,
    800 : #121113,
    900 : #0a090b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
), 500, 400, 700);

$mild-green: mat.define-palette((
    50 : #ebf6ec,
    100 : #cee8cf,
    200 : #aed9b0,
    300 : #8dc990,
    400 : #74be78,
    500 : #5cb260,
    600 : #54ab58,
    700 : #4aa24e,
    800 : #419944,
    900 : #308a33,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
));

/* For use in src/lib/core/theming/_palette.scss */
$mild-red: mat.define-palette((
    50 : #f4e7e7,
    100 : #e3c3c3,
    200 : #d09b9b,
    300 : #bd7373,
    400 : #af5555,
    500 : #a13737,
    600 : #993131,
    700 : #8f2a2a,
    800 : #852323,
    900 : #741616,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
));

$electric-blue: mat.define-palette((
    50 : #e4fcfc,
    100 : #bcf7f7,
    200 : #90f2f2,
    300 : #63eded,
    400 : #41e9e9,
    500 : #20e5e5,
    600 : #1ce2e2,
    700 : #18dede,
    800 : #13dada,
    900 : #0bd3d3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
    )
));

$green: mat.define-palette(mat.$green-palette);
$indigo: mat.define-palette(mat.$indigo-palette);
$pink: mat.define-palette(mat.$pink-palette);
$red: mat.define-palette(mat.$red-palette);
$blue-grey: mat.define-palette(mat.$blue-grey-palette);

/* default material palette */
$primary-default: mat.define-palette($indigo, 500);
$secondary-default: mat.define-palette($pink, A200, A100, A400);