@use "sass:map";
@use "@angular/material" as mat;
@use "./additional-styles/additional-styles.scss" as additional-styles;
@use "./material-palettes.scss" as palettes;
@use "./additional-styles/additional-themes.scss" as additional-themes;
@use "./component-styles.scss" as components;


/* default theme */
.default-theme {
    $theme: mat.define-light-theme(palettes.$primary-default, palettes.$secondary-default);
    $theme: map.merge($theme, additional-themes.get-theme(dark-gold));
    @include components.theme($theme);
    @include additional-styles.theme($theme);
}

/* dark themes */
.dark-gold-theme {
    $theme: mat.define-dark-theme(palettes.$purple-black, palettes.$dark-gold, palettes.$mild-red);
    $theme: map.merge($theme, additional-themes.get-theme(dark-gold));
    @include components.theme($theme);
    @include additional-styles.theme($theme);
}
