@use "@angular/material" as mat;
@use 'sass:map';

@mixin theme($theme){
    $a: map.get($theme, accent); // accent palette
    $p: map.get($theme, primary); // primary palette
    $b: map.get($theme, background); // background palette
    $accent: map.get($a, default); // default accent color
    $primary: mat.get-color-from-palette($p); // default primary color
    $primary-darker: map.get($p, darker);
    $primary-lighter: map.get($p, lighter);
    $background: mat.get-color-from-palette($b); // default background color
    $background-card: mat.get-color-from-palette($b, card); // background palette with card hue
    $text: mat.get-color-from-palette($p, default-contrast); // text color

    app-about .mat-mdc-chip.proficient {
        border-color: $accent;
    }

    app-about .mat-mdc-chip {
        background-color: $primary;
        border: 1px solid;
        border-color: $primary-lighter;
    }

    app-about .mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
        color: $text;
    }
}
