<div>
    <app-wallet>
        <app-card-title>About</app-card-title>
        <app-card>
            <div style="display:flex;gap:10px;"><h1>🎓</h1><h2>Education</h2></div>
            <div class="card-content">
                <h3>B.Sc. Computer Science Software Specialization - University of Alberta 2021</h3>
            </div>
        </app-card>
        <app-card>
            <div style="display:flex;gap:10px;"><h1>👨‍💻</h1><h2>Skills</h2></div>
            <div class="card-content">
                <mat-chip-set>
                    <mat-chip class="proficient">C#</mat-chip>
                    <mat-chip class="proficient">.NET</mat-chip>
                    <mat-chip class="proficient">Microsoft Orleans</mat-chip>
                    <mat-chip class="proficient">Python</mat-chip>
                    <mat-chip class="proficient">Docker</mat-chip>
                    <mat-chip class="proficient">Kubernetes</mat-chip>
                    <mat-chip class="proficient">APIs</mat-chip>
                    <mat-chip>Linux</mat-chip>
                    <mat-chip>Bash/Shell</mat-chip>
                    <mat-chip>Azure</mat-chip>
                    <mat-chip>Agile</mat-chip>
                </mat-chip-set>
            </div>
        </app-card>
        <app-card>
            <div style="display:flex;gap:10px;"><h1>🎮</h1><h2>Hobbies</h2></div>
            <div class="card-content">
                <h3>
                    📐 3D Printing
                    <br>🌱 Houseplants
                    <br> 🎹 Piano
                    <br>⚽🚗💨 Rocket League
                </h3>
            </div>
        </app-card>
        <app-card>
            <div class="buttons">
                <button mat-raised-button color="accent" onclick="location.href='mailto:burghardtnoah@gmail.com?'">
                    <span>Contact me</span>
                </button>
                <button mat-raised-button color="accent" onclick="window.open('../../../assets/Noah Burghardt.pdf', '_blank' )">
                    <span>Download resume</span>
                </button>
            </div>
        </app-card>
    </app-wallet>
</div>