<div>
    <app-wallet>
        <app-card-title>About</app-card-title>
        <app-card>
            <h1>🎓 Education</h1>
            <div class="card-content">
                <h3>B.Sc. Computer Science Software Specialization - University of Alberta 2021</h3>
            </div>
        </app-card>
        <app-card>
            <h1>👨‍💻 Skills</h1>
            <div class="card-content">
                <h3>C# .NET Orleans Python Shell Linux</h3>
                <h3>Docker/ Kubernetes / Virtualization</h3>
                <h3>Azure / Agile / APIs</h3>
                <mat-chip-set>
                    <mat-chip class="proficient">C#</mat-chip>
                    <mat-chip color="primary">Python</mat-chip>
                </mat-chip-set>
            </div>
        </app-card>
    </app-wallet>
</div>