@use 'sass:map';
@use "@angular/material" as mat;

@mixin theme($theme){
  $a: map.get($theme, accent); // accent palette
  $p: map.get($theme, primary); // primary palette
  $accent: map.get($a, default); // default accent color
  $text: mat.get-color-from-palette($p, default-contrast); // text color

  app-home .image-svg {
      background-color: $accent;
  }
  app-home .image-svg:hover {
    background-color: $text;
  }
}