div.intro {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 25px;
}

div.image-content {
    display: flex;
    justify-content: center;
}

div.text-content {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0;
}

.image-svg {
    height: 40px;
    width: 40px;
    cursor: pointer;

}

.image-svg.github {
    -webkit-mask: url("../../../assets/icons/github.svg") no-repeat center;
    mask: url("../../../assets/icons/github.svg") no-repeat center;
    mask-size: contain;
}

.image-svg.mail {
    -webkit-mask: url("../../../assets/icons/mail.svg") no-repeat center;
    mask: url("../../../assets/icons/mail.svg") no-repeat center;
    mask-size: contain;
}

// the others have a bit of padding on the top and bottom in the actual svg, this one does not
.image-svg.linkedin {
    -webkit-mask: url("../../../assets/icons/linkedin.svg") no-repeat center;
    mask: url("../../../assets/icons/linkedin.svg") no-repeat center;
    mask-size: contain;
    height: 30px;
    margin-left: -5px;
    margin-right: -5px;
}

div.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}