<div>
    <app-wallet>
        <app-card>
            <div class="intro">
                <div class="image-content"><img src="../../../assets/avatar_circle.png" height="175"/></div>
                <div class="text-content">
                    <h1>
                        Hi, I'm Noah, a software developer based out of Edmonton, Alberta.
                    </h1>
                </div>
            </div>
        </app-card>
        <app-card>
            <div class="links">
                <div
                    class="image-svg github"
                    onclick="window.open('https://github.com/haondt/', '_blank')"></div>
                <div
                    class="image-svg linkedin pad"
                    onclick="window.open('https://www.linkedin.com/in/noah-burghardt-438027173/', '_blank')"></div>
                <div
                    class="image-svg mail"
                    onclick="window.open('mailto:burghardtnoah@gmail.com?', '_blank')"></div>
            </div>
        </app-card>
    </app-wallet>
</div>