div.outer {
    padding-left: 48px;
    padding-right: 48px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}

div.inner {
    max-width: 840px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:20px;
}