@model Website.Views.AboutModel
<div class="page">
    <div class="card">
        <h2 class="width-100">education</h2>
        <p>@Model.Settings.Education</p>
    </div>
    <div class="card">
        <h2 class="width-100">skills</h2>
        <div class="chipContainer justify-center">
            @foreach(var skill in Model.Settings.Skills.Proficient)
            {
                <span class="chip accent big-chip">@skill</span>
            }
            @foreach(var skill in Model.Settings.Skills.Competent)
            {
                <span class="chip big-chip">@skill</span>
            }
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.Settings.ResumePath))
    {
        <div class="card">
            <button class="icon" onclick="window.open('@Model.Settings.ResumePath', '_blank')">
                <i class="fa-regular fa-address-card"></i>
                resume
            </button>
        </div>
    }
</div>
