{% with active='home' %}
    {% include 'navbar.html' %}
{% endwith %}

<div class="flex flex-col" style="gap:20px;">
    <div class="card">
        <h2>Software developer, snowboarder and amateur pianist.</h2>
        <p>Currently focused on building automation tools for CI/CD, development workflows and day-to-day tasks.</p>
        <div class="flex flex-row col-gap-15 row-gap-5 flex-wrap justify-evenly">
            <div class="link-chip">
                <i class="fa-regular fa-envelope"></i>
                <p>contact@mail.haondt.dev</p>
            </div>
            <div class="link-chip">
                <i class="fa-brands fa-discord"></i>
                <a href="https://discord.com/users/haondt">haondt</a>
            </div>
            <div class="link-chip">
                <i class="fa-brands fa-github-alt"></i>
                <a href="https://github.com/haondt">haondt</a>
            </div>
            <div class="link-chip">
                <i class="fa-brands fa-gitlab"></i>
                <a href="https://gitlab.com/haond">haond</a>
            </div>
        </div>
    </div>
</div>
