{% with active='projects' %}
    {% include 'navbar.html' %}
{% endwith %}

{% macro carousel(images) %}
    <div class="flex flex-row align-center"
        style="width:100%;gap:15px;"
        image_index="0" previous_index="0"
        _="
            on mutation of @image_index
                if @image_index <= 0
                    add @disabled to the first <button/> in me
                else
                    remove @disabled from the first <button/> in me
                end

                if @image_index >= {{ images|length - 1 }}
                    add @disabled to the last <button/> in me
                else
                    remove @disabled from the last <button/> in me
                end

                set currentImageClass to `image-index-${@image_index}`
                remove .hidden from the first .{currentImageClass} in me
                set currentTabClass to `tab-index-${@image_index}`
                add .selected to the first .{currentTabClass} in me

                set previousImageClass to `image-index-${@previous_index}`
                add .hidden to the first .{previousImageClass} in me
                set previousTabClass to `tab-index-${@previous_index}`
                remove .selected from the first .{previousTabClass} in me

                set @previous_index to @image_index
        ">
    <style>
        @scope {

            .project-image-carousel {
                aspect-ratio: 16/9;
                flex: auto;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .project-image-window {
                border-radius: 5px;
                flex: auto;
                position: relative;
                overflow: hidden;
            }

            .project-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top left;
                position: absolute;
                bottom: 0;
                opacity: 1;
                z-index: 1;
                transition: opacity 0.3s ease;
                cursor: pointer;
            }

            .project-image.hidden {
                opacity: 0;
                z-index: -1;
            }

            .project-image-indicator {
                display: flex;
                flex-direction: row;
                height: 5px;
                gap: 15px;
            }

            .project-image-tab {
                height: 100%;
                flex: 1;
                border-radius: 5px;
                background-color: var(--color-dark-fg);
                transition: background-color 0.5s ease-out;
            }

            .project-image-tab.selected {
                background-color: var(--color-accent);
            }

            .button {
                align-self: stretch;
            }

        }
    </style>
    <button class="button icon" disabled _="on click decrement (the closest parent <div/>)'s @image_index"><i class="fa-solid fa-chevron-left"></i></button>
    <div class="project-image-carousel">
        <div class="project-image-window">
            {% for image in images %}
                <img
                    src={{ image }}
                    class="{% if loop.index != 1 %} hidden{% endif %} image-index-{{ loop.index - 1 }} project-image"
                    hx-get="/hx/image-modal?target={{ image }}"
                    hx-trigger="click"
                />
            {% endfor %}
        </div>
        <div class="project-image-indicator">
        {% for image in images %}
            <span class="project-image-tab {% if loop.index == 1 %} selected{% endif %} tab-index-{{ loop.index - 1}}"></span>
        {% endfor %}
        </div>
    </div>
    <button class="button icon"{% if images|length < 2 %} disabled{% endif %} _="on click increment (the closest parent <div/>)'s @image_index"><i class="fa-solid fa-chevron-right"></i></button>
</div>
{% endmacro %}

{% macro project(title, description, source, chips, images) %}
    <div class="card">
        <div class="flex flex-row" style="width:100%">
            <h2>{{ title }}</h2>
            <span class="flex-grow-1"></span>
            {% if source %}
                <a class="button icon" href="{{ source }}"  target="_blank">
                    <i class="fa-solid fa-code"></i>
                    source
                </a>
            {% endif %}
        </div>
        <div style="width:100%">
            <style>
                @scope (.container) {
                    @media (min-width: 600px) {
                        :scope {
                            margin-left: 50px;
                            margin-right: 50px;
                        }
                    }
                }
            </style>
            <div class="container flex flex-col" style="gap:15px;">
                <p>{{ description }}</p>
                <div class="chip-container">
                    {% for chip in chips %}
                        <span class="chip">{{ chip }}</span>
                    {% endfor %}
                </div>
                {% if images %}
                {{ carousel(images) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

<div class="flex flex-col" style="gap:20px;">
    {{ project(
        'athena',
        'A file-based rest api client. I built athena so I could store my api documentation inside the same repo as the project. Additionally, it has several benefits over other api clients, such as the ability to leverage python scripting, the freedom to use any text editor as the UI and being extremely lightweight.',
        'https://gitlab.com/haondt/athena',
        ['Python', 'PyPI', 'MKDocs', 'PyTest'],
        ['static/athena_1.png', 'static/athena_2.png', 'static/athena_3.png']
    ) }}

    {{ project(
        'Homelab CI/CD',
        'I run a homelab consisting of 70+ Docker containers spread across several machines in multiple geographical locations. Deployment to these machines is done entirely through GitLab repos, self-hosted runners and a custom dynamic pipeline generator. This system also builds all my Docker images, Python packages, NuGet Packages and static sites, and pushes them to their respective hosting platforms.',
        'https://gitlab.com/haondt/CICD/pipelines',
        ['CI/CD', 'GitLab', 'Automation', 'Python', 'Containerization'],
        ['static/ci_1.png', 'static/ci_2.png']
    ) }}

    {{ project(
        'Talos',
        'A Discord bot for managing Docker containers in my homelab. Talos can connect to Docker hosts both locally and remotely over ssh to execute commands like checking image versions. It also monitors my IaC repositories for available image updates, and commits them. A CI pipeline deploys the change and notifies Talos via a webhook. Talos then notifies me in Discord of the pipeline result. It\'s also highly configurable, and can do things like queuing updates to comply with image pull rate limits. Talos implements structured json logging and OpenTelemetry tracing, allowing for thorough monitoring in Grafana.',
        'https://gitlab.com/haondt/talos',
        ['C#', 'Docker', 'Automation'],
        ['static/talos_1.png', 'static/talos_2.png', 'static/talos_3.png', 'static/talos_4.png']
    ) }}

    {{ project(
        'Midas',
        'A budgeting app built around the idea of using Node-Red to parse csv files.',
        'https://gitlab.com/haondt/midas',
        ['Docker Compose', 'C#', 'htmx', 'hyperscript', 'Node-RED', 'sqlite'],
        ['/static/midas_1.png']
    ) }}

    {{ project(
        'Homelab Gateway',
        'Some of the services on my homelab are exposed to the open internet. I use a proxy server to route the requests back to my main server. The proxy server runs NGINX to terminate TLS connections (using autorenewed Let\'sEncrypt certificates) and Authelia to authorize requests, along with fail2ban to ban repeat offenders. It runs Alloy to scrape request metrics and forwards the requests back to the main server over an encrypted rathole connection. The whole setup is deployed with the aforementioned CI pipeline.',
        'https://gitlab.com/haondt/deployments/-/tree/main/chert/services',
        ['Reverse Proxy', 'NGINX', 'Networking'],
        null
    ) }}

    {{ project(
        'Homelab ETL',
        'For all the services I run across my homelab, I run an ETL pipeline to monitor service state. Several data sources, like rsyslog, cAdvisor and OpenTelemetry provide the extraction. Transformation is done in Alloy and sent to a self-hosted LGTM stack. Grafana displays the homelab state in various dashboards and watches health indicators, sending me alerts through Discord if anything is amiss.',
        'https://gitlab.com/haondt/deployments/-/tree/main/gabbro/services',
        ['Grafana', 'LGTM', 'Alloy', 'Monitoring', 'ETL'],
        ['static/grafana_1.png', 'static/grafana_2.png', 'static/grafana_3.png']
    ) }}

    {{ project(
        'linktiles',
        'A tile-based readonly frontend for linkding, a minimal bookmark manager. linktiles also features comprehensive documentation generated with MkDocs and support for forward authentication.',
        'https://gitlab.com/haondt/linktiles',
        ['Python', 'PyPI', 'MkDocs', 'htmx', 'hyperscript', 'redis'],
        ['static/linktiles_1.png', 'static/linktiles_2.png']
    ) }}

</div>

<div style="height:10rem;"></div>
