@use "sass:map";
@use "@angular/material" as mat;
@use "./prism-styles.scss" as prism-styles;

@mixin theme($theme) {
    @include prism-styles.theme($theme);

    $aff: map.get($theme, affirmative); // affirmative palette
    $s: map.get($theme, secret); // secret palette
    //$pc: map.get($theme, pop-colors); // extra accent colors
    $affirmative: mat.get-color-from-palette($aff); //  default affirmative color
    $affirmative-contrast: mat.get-color-from-palette($aff, default-contrast);
    $secret: mat.get-color-from-palette($s);

    .color.affirmative {
        color: $affirmative;
    }

    .color.secret {
        color: $secret;
    }

    .background.affirmative {
        background-color: $affirmative;
        color: $affirmative-contrast;
    }

    /* Material buttons */
    button[mat-button][color="affirmative"],
    button[mat-stroked-button][color="affirmative"] {
        background-color: transparent;
        color: $affirmative;
    }

    button[mat-button][color="affirmative"] span.mat-button-focus-overlay,
    button[mat-stroked-button][color="affirmative"] span.mat-button-focus-overlay {
        background-color: $affirmative;
    }

    button[mat-button][color="secret"],
    button[mat-stroked-button][color="secret"] {
        background-color: transparent;
        color: $secret;
    }

    button[mat-button][color="secret"] span.mat-button-focus-overlay,
    button[mat-stroked-button][color="secret"] span.mat-button-focus-overlay {
        background-color: $secret;
    }
}
